name: Release

on:
  pull_request:
    types: [closed]
    paths:
      - '.github/project.yml'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    if: ${{ github.event.pull_request.merged == true && github.base_ref == 'main' && github.head_ref == 'release' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get Release Information
        id: release-info
        uses: mikefarah/yq@v4.31.1
        with:
          cmd: yq '.release.current-version' .github/project.yml

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          git_commit_gpgsign: true
          git_user_signingkey: true
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PRIVATE_KEY_PASSPHRASE }}

      - name: Tag main branch with release tag(s)
        run: |
          version="${{ steps.release-info.outputs.result }}"

          pattern="^[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+*$"
          if ! [[ "${version}" =~ $pattern ]]
          then
            echo "version string [${version}] does not conform to pattern [0.0.0]. Aborting."
            exit 1
          fi

          extractor="^\([[:digit:]]\+\)\.\([[:digit:]]\+\)\.\([[:digit:]]\+\)$"
          major_version="$(echo "${version}" \
                      | sed "s|${extractor}|\1|g")"
          minor_version="$(echo "${version}" \
                      | sed "s|${extractor}|\2|g")"

          git fetch
          git tag "v${version}"
          git push --tags
          git tag --force "v${major_version}.${minor_version}"
          git tag --force "v${major_version}"
          git push --force --tags